
.table_bandeja_apro_tbody button{
    
   margin-bottom: 5px;
    
    
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {

  background-color: #fff !important;
  
}
body,html {
    background: url('../../img/fondo.jpeg') ;
    background-repeat: repeat;

    background-attachment: fixed;
    overflow: auto;
}

a {
    color: #444;
    text-decoration: none;
    font-weight: 500;


}

a:hover,a:active {
    color: #444;

    background-color: #ececec !important;
    font-weight: 900;

}

.sidebar ul li a.active {

    color: #444;
    background-color: #f1f1f1 !important;
    font-weight: 900;

}

.sidebar ul li {

    border-bottom:  #8c8182  1px solid;
    font-weight: 900;

}


.panel-heading {
    font-size: 18px;
    font-weight: 400;
    background:  url(http://www.mppeuct.gob.ve/sites/all/themes/mcti/img/bg-well-title.png) no-repeat right center;
    margin: 0 0 20px 0;
    padding: 8px 16px;
    border-bottom: none;
}



.barra-top,.footer {

    background-image:url('../../img/fondo2.jpg') ;
    background-color: #DCDDE2;
}

.navbar-default .navbar-brand {
    
    color: #555 !important;
}



.footer{
    
    padding-left: 22px;border: 0;font-size: 10px;text-align: center
}


//paginador


.pagination>li>a, .pagination>li>span {

    color: #e15e7a;

}






.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: white !important;
    background-color: #6e6465 !important;;
}


.open {

    min-width: 246px;
}

.normativa-left{

    height: 50px; 
    float: left;
    width: 455px;

}

.normativa-right{

    height: 50px; 
    float: right;
    width: 153px;

}

.banner{

    height: 160px;
    width: 100%;
    border-bottom: 1px solid #eee;
    border-top: 2px solid #eee;

}


.label-red {

    text-align: right !important;
    color: #a94442;
}

 .navbar-brand {
     
        font-size: 14px !important;
        font-weight: bold;
    }

@media (max-width: 400px) {


    .navbar-default .navbar-brand {
        font-size: 10px !important;
        font-weight: bold;
    }



}




@media (max-width: 512px) {

    .normativa-right{

        display: none;
    }


    .navbar-default .navbar-brand {
        font-size: 15px;
        font-weight: bold;

    }


}


@media (max-width: 680px) {
    .normativa-left{

        height: 40px; 
        width: 392px;

    }

    .normativa-right{

        height: 40px; 
        width: 60px;
    }

    .sidebar-nav{

        margin-top: 10px;
    }

    .banner{

        height: 60px;

    }


}


.affix .open .dropdown-toggle{
    color: #a3303d !important;


}



@media (max-width: 767px) {




    .navbar-header{

        border-bottom: 1px solid #6e6465;
    }

    .dropdown{

        float: right;
        
    }

}

@media (min-width: 768px){

    text-align: left !important; 
    
   
}
.sidebar ul li .nav-second-level a.active {
  color: #666;
  background-color: #fff !important;
  font-weight: 900;
  text-decoration: underline;
}
    
@media (max-width: 991px){
.form-horizontal .control-label {
  padding-top: 7px;
  margin-bottom: 0;
  text-align: left !important;
}
}
